/* media queries for - responsive */
html{
    background-color: black;
}

@media (max-width:320px){
    #nav-bar, #nav-bar-secondary{
        font-size: 8px;
        width: 100%;
    }
    #nav-bar a img{
        height: 30px;
        width: 30px;
    }
    #nav-bar select{
        display: block;
    }
    #nav-bar ul li a{
        display: none;
    }
    #nav-bar #small-screen{
        display: block;
        display: flex;
        flex-direction: column;
    }
    #nav-bar #small-screen input{
        width: 20px;
        height: 20px;
    }
    #nav-bar-secondary ul li .sm{
        display: none;
    }
    #nav-bar-secondary ul li .res{
        display: none;
    }
    .responsive #Theme{
        display: none;
    }
    #content h1{
        font-size: 20px;
        text-align: center;
    }
    #content h5{
        font-size: 7px;
    }

    #content .search-box{
        height: 20px;
        width: 120px;
        border: 1px solid black;
        display: none;
    }
    #content a{
        font-size: 8px;
    }
    .box{
        display: block;
        height: 1000px;
        width: 100%;
    }
    .inner-box{
        margin-left: 14px;
        padding: 12px;
        height: 300px;
        width: 200px;
        font-size: 10px;
    }
    .box-1 .HTML{
        text-align: center;
    }
    .box-1 .HTML button{
        height: 20px;
        width: 80px;
        font-size: 8px;
    }
    .box h1{
        font-size: 25px;
        font-weight: 400;
    }
    .box h5{
        font-size: 8px;
        font-weight: 400;
    }
}






























@media(max-width: 600px){
    .box{
        display: block;
        height: 800px;
        width: 100%;
    }
    .inner-box{
        padding: 15px;
        height: 400px;
        width: 300px;
        font-size: 20px;
        margin-top: 10px;
        border: 1px solid black;
    }
    .box-1 .HTML{
        text-align: center;
    }
    
    .res{
        display: none;
    }
    .responsive{
        display: none;
    }
    #nav-bar{
        background-color: white;
    }
    #nav-bar-secondary{
        text-align: center;
    }
    .code{
        width: 250px;
        padding: 5px;
        height: 300px;
        font-size: 15px;
    }
    .inner-box .Try{
        width: 120px;
    }
    .box-1,.box-2,.box-3,.box-4,.box-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-1{
        height: 1000px;
    }
    .box-1 .HTML button,.box-2 .CSS button,.box-3 .js button,.box-4 .Py button,.box-5 .sql button{
        margin-right: 50px;
        margin-left: 50px;
    }
    .box h1{
        font-size: 50px;
    }
}

